<html>
    <div class="home">
        <h1>Book Club
        <button> <a href="book-create">Adicionar Livro</a></button>
        </h1>
        <h2>Todos os Livros</h2>
    
    </div>
    <div class="page">
    <mat-grid-list cols="4" rowHeight="4:3" gutterSize="4">
      <div class="card-home">
          
         <mat-grid-tile>
            <mat-card>
                <img src='C:\Users\Rafael\Downloads\teste-frontend\teste-frontend\1.png' class="" alt="">
                <mat-card-title>Ginder Bread</mat-card-title>	
        <mat-card-subtitle>by ljeoma Oluo </mat-card-subtitle>
            </mat-card>
        </mat-grid-tile>
     </div>
      </mat-grid-list>
    </div>
    
</html>
