html{
    background-color: rgb(186, 221, 250);
}
h1{
    background-color: rgb(248, 168, 181);
    font-size: 40px;
    height: 10%;
    margin: 0px 0px 16px;
    padding: 10px;
    
}
h2{
    padding-left: 10%;
    font-size: 30px;
    padding-top: 4%;
    padding-bottom: 4;

}
button{
    background-color: rgb(248, 168, 181);
    border-radius: 12px;
    width: 5cm;
    text-align: center;
    margin-left: 60%;   
    height: 30px;
 font-size: 20px;
 border-color: black;

}
.home{
    background-color: rgb(186, 221, 250);

}
.page{
    background-color: rgb(186, 221, 250);
border-left: 12px;
align-content: center;

}

.content {
    padding: 16px;
        border-radius: 12px;

}

.content > mat-card {
    margin-bottom: 6px;
}
.mat-card{
    height: 160px;
    margin-top: 10px;

}
.img-card{
    border-radius: 2px;
}
body{
    background-color: rgb(186, 221, 250);

}
mat-grid-tile{
    border-radius: 12px;

}